
<p>
  Start editing to see some magic happen :)
</p>
<h2>Form</h2>
<form [formGroup]="form">
  <div>
    <label>input 1 native</label>
    <input formControlName="input"/>
  </div>
  <div>
    <custom-input formControlName="input2"></custom-input>
  </div>
  {{form.value | json}}

  <button (click)="form.setValue({input:'aap', input2:'banaan'}, {emitEvent: false})">Zonder Event</button>
  <button (click)="form.setValue({input:'noot', input2:'mies'}, {emitEvent: true})">Met Event</button>

</form>

